@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    counter-reset: #222;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

a {
    text-decoration: none;
}

#header {
  width: 100%;
  height: 59px;
  overflow-x: hidden;
  background-color: #111;
  position: fixed;
  z-index: 1000;
}

.headerIn {
  display: flex;
  position: relative;
  z-index: 1000;
  padding: 0 20px;
}

.headerLogo {
  width: 84px;
  height: 59px;
}

.headerLogo img {
  width: 84px;
  height: 17px;
  padding: 20px 0;
}

.headerUtilMenu {
  display: flex;
  position: absolute;
  top: 20px;
  right: 4px;
}

.headerUtilMenu img{
  width: 17px;
  height: 19px;
  margin-right: 20px;
  cursor: pointer;
}

.barTop {
  width: 19px;
  height: 2px;
  background-color: #fff;
  position: relative;
  left: 0px;
  top: 3px;
}

.barBottom {
  width: 19px;
  height: 2px;
  background-color: #fff;
  position: relative;
  right: 19px;
  top: 13px;
}

.barMenu {
  width: 54px;
  height: 59px;
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

/* 헤더 끝  */

#video_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로드 비디오 끝 */

.section1 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 59px;
}

.section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1_title {
  /* width: 100%; */
  height: 137px;
  position: absolute;
  top: 40px;
  left: 20px;
  color: #fff;
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

.section1 p {
  font-size: 16px;
  line-height: 1.2;
  font-family: sans-serif;
  animation: fadeInRight 1s;
}

.section1 h2 {
  font-size: 42px;
  line-height: 1.2;
  font-family: sans-serif;
  font-weight: 300;
  animation: fadeInRight 1s;
}

.section1_more {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 135px;
  left: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 150px;
  height: 70px;
  z-index: 9999;
}

.section1_more .more {
  cursor: pointer;
}

.section1_more .send {
  margin-top: 20px;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  position: relative;
  bottom: 70px;
  border: 1px solid transparent;
  width: 5px !important;
  height: 5px !important;
  opacity: 1 !important;
  background-color: #555 !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
}