.create_account_section1 {
  width: 100%;
  height: calc(100% - 59px);
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 59px;
}

.create_account_section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create_account_section1_in {
  position: absolute;
  top: 20px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_account_section1_in_title {
  padding: 0 20px;
  width: 260px;
}

.create_account_section1_in strong {
  font-size: 12px;
  color: #666;
  font-weight: 500;
  margin-bottom: 5px;
}

.create_account_section1_in form {
  margin-top: 10px;
}

.create_account_section1_in input {
  padding: 10px;
  text-align: start;
  color: #111;
  font-size: 16px;
  font-weight: 800;
  margin: 10px 0;
  opacity: 0.8;
  border: 1px solid #999;
  display: block;
  width: calc(100% - 20px);
}

.create_account_section1_in input::placeholder {
  opacity: 0.6;
  font-size: 13px;
}

.create_account_section1_in input:focus {
  outline: 2px solid #6d73fd;
}

.create_account_section1_in button {
  border: 1px solid #666;
  padding: 15px 30px;
  background-color: #111;
  color: #fff;
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.create_account_section1_in button:hover {
  border: 1px solid #333;
  opacity: 0.9;
}

.create_account_section1_in span {
  color: #fff;
}

.create_account_section1_in p {
  font-size: 12px;
  line-height: 1.2;
  font-family: sans-serif;
  margin-top: 12px;
  color: #fff;
  opacity: 0.6;
}

.create_account_section1_menu {
  display: flex;
  justify-content: space-between;
}

form .error_message {
  color: #f05650;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 10px;
}

form .error_message::before {
  display: inline;
  content: "⚠ ";
}